<div class="row mb-3 g-3">
  <ng-container *ngIf="ricksAll && ricksAll.results && ricksAll.results.length > 0; else noRicks">
    <div class="col-3" *ngFor="let rick of ricksAll.results">
      <div class="card fixed-card">
        <div *ngIf="!CargaImagen" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <svg width="120" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#00bfff">
            <circle cx="15" cy="15" r="15">
              <animate attributeName="r" from="15" to="15"
                begin="0s" dur="0.8s"
                values="15;9;15" calcMode="linear"
                repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="1" to="1"
                begin="0s" dur="0.8s"
                values="1;.5;1" calcMode="linear"
                repeatCount="indefinite" />
            </circle>
            <circle cx="60" cy="15" r="9" fill-opacity="0.3">
              <animate attributeName="r" from="9" to="9"
                begin="0.2s" dur="0.8s"
                values="9;15;9" calcMode="linear"
                repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="0.5" to="0.5"
                begin="0.2s" dur="0.8s"
                values=".5;1;.5" calcMode="linear"
                repeatCount="indefinite" />
            </circle>
            <circle cx="105" cy="15" r="15">
              <animate attributeName="r" from="15" to="15"
                begin="0.4s" dur="0.8s"
                values="15;9;15" calcMode="linear"
                repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="1" to="1"
                begin="0.4s" dur="0.8s"
                values="1;.5;1" calcMode="linear"
                repeatCount="indefinite" />
            </circle>
          </svg>
        </div>
        

        <img 
          [src]="rick.image" 
          class="card-img-top fixed-img" 
          alt="..."
          loading="lazy"
          (load)="CargaImagen=true"
        >

        <div class="card-body fixed-body">
          <h5 class="card-title">{{rick.name}}</h5>
          <p class="card-text">Especie: {{rick.species}}</p>
          <li class="btn btn-outline-primary" (click)="openModal(rick)">Info</li>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noRicks>
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
        No se han encontrado personajes de Rick and Morty.
      </div>
    </div>
  </ng-template>
</div>

<rick-modal></rick-modal>
